

div.anim{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .2s;
}


@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

div h1{
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
