@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.loaderPageContainer{
    background-color: #001018;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    user-select: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 999999999;
}
.ball-loader {
    display: flex;
    justify-content: center;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0088cc;
    margin: 10px;
    animation: ball-jump 2s infinite ease-in-out, color-change 4s infinite;
    /* animation: ball-jump 4s infinite ease-in-out, ball-shake 10s infinite ease-in-out, color-change 4s infinite; */
}

.ball:nth-child(1) {
    animation-delay: -0.4s;
}

.ball:nth-child(2) {
    animation-delay: -0.2s;
}

.ball:nth-child(3) {
    animation-delay: 0s;
}

.ball:nth-child(4) {
    animation-delay: 0.2s;
}

.ball:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes ball-jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes color-change {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

body{
    color: #ededed;
    background-color: #001018;
}

/* .header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
a.nav-link.active-tab {
    color: #0ef;
    text-shadow: 0 0 10px #4dcbe4;
}

.logo{
    position:relative;
    font-size: 30px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    left: 4rem;
    opacity: 0;
    margin-bottom: 2rem;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@media (max-width:990px) {
    .logo{
        left: 0;
    }
}
.navbar{
    background: transparent;
    margin-top: .5rem;
}
.navbar div{
    justify-content: end;
    right: 7rem;
    position: relative;

}

.collapse.show {
    display: grid;
    justify-content: center;
    left:.5rem;
}

.navbar li a{
    display: inline-block;
    font-size: 15px;
    color:#fff;
    text-decoration: none;
    justify-content: space-between;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.navbar a:hover{
    color:#0ef;
    
} 

.icon{
    color: #ededed;
}