{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <header class="header">
            About Me
        </header>

        <div class="about">
            <p class="font-weight-bold st-font greet">Hello,</p>
            <p class="intro">I'm <span class="text-warning name">Soumen Samanta,</span></p>
            <p class="desc"  style="text-indent:100px ">
                I'm a full stack web developer. I've completed my BCA degree from Panskura Banamali College (Autonomous). I love to coding.
                I'm addicted to programming, every day I spend at least 8 hours writing code.
                This is my passion.
            </p>
        </div>
    </div>
{% endblock content %}