{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <header class="header">
            About Me
        </header>

        <div class="about">
            <p class="font-weight-bold st-font greet">Hello,</p>
            <p class="intro">I'm <span class="text-warning name">Soumen Samanta,</span></p>
            <p class="desc"  style="text-indent:100px ">
                I am a first-year MCA student at the Institute of Engineering and Management, passionately exploring the world of computer science and technology. I completed my BCA degree from Panskua Banamali College, where my journey into the exciting realm of programming began.
            </p>
            <p class="desc"  >
                As a full-stack web developer, I find myself drawn to the intricate workings of the backend. I am deeply fascinated by the power and potential of server-side scripting, databases, and server management. My pursuit of knowledge in this field has been both a challenging and rewarding experience.
            </p>
            <p class="desc" >
                Coding is not just a skill for me; it's a passion. I thrive on the thrill of solving complex problems, creating efficient algorithms, and building web applications that make a difference. Whether it's designing a user-friendly interface or optimizing database queries, I am committed to delivering elegant and functional solutions.
            </p>
            <p class="desc"  >
                Outside of coding, I enjoy staying up to date with the latest technological advancements and industry trends. I believe that the ever-evolving landscape of web development offers endless opportunities for innovation and growth.
            </p>
            <p class="desc"  >
                Join me on my journey as I continue to learn, explore, and create in the world of web development. Together, let's build a digital future that's both exciting and impactful.
            </p>
            <p class="desc" >
                Thank you for visiting my portfolio website, and I look forward to connecting with you!
            </p>
        </div>
    </div>
{% endblock content %}