{% extends 'main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/skill.css' %}">
{% endblock css %}

{% block content %}
 
<div class="container mt-5">
    <h1 class="text-center mb-5">SKILLS</h1>
    
    <div class="row justify-content-around " >
    
    
        <div class="skill_card" style="--i:1">
            <!-- Add your logo image here -->
            <img src="{% static "image/html.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>HTML</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Proficient in creating structured web content with semantic HTML elements.
                </p>
            </div>
        </div>


        
        <div class="skill_card" style="--i:2">
            <!-- Add your logo image here -->
            <img src="{% static "image/css.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>CSS</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Skilled in designing and styling web interfaces for enhanced user experiences.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:3">
            <!-- Add your logo image here -->
            <img src="{% static "image/javascript.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>Java Script</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Competent in developing interactive and dynamic web applications using JavaScript.
                </p>
            </div>
        </div>


        <div class="skill_card"  style="--i:4">
            <!-- Add your logo image here -->
            <img src="{% static "image/c.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>C</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Skilled in C, adept at low-level programming and system development.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:5">
            <!-- Add your logo image here -->
            <img src="{% static "image/c++.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>C++</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Competent in C++, experienced in high-performance software and game development.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:6">
            <!-- Add your logo image here -->
            <img src="{% static "image/java.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>Java</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Capable in Java, proficient in building robust and platform-independent applications.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:7">
            <!-- Add your logo image here -->
            <img src="{% static "image/python.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>Python</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Proficient in Python, capable of versatile scripting and application development.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:8">
            <!-- Add your logo image here -->
            <img src="{% static "image/sql.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>SQL</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Competent in SQL, capable of managing and querying relational databases.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:9">
            <!-- Add your logo image here -->
            <img src="{% static "image/django.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>Django</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Proficient in Django, experienced in developing secure and scalable web applications.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:10">
            <!-- Add your logo image here -->
            <img src="{% static "image/react.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>React Js</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Skilled in React, adept at building interactive and responsive user interfaces.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:11">
            <!-- Add your logo image here -->
            <img src="{% static "image/Mysql.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>My SQL</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Proficient in MySQL, skilled in designing and optimizing database systems.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:12">
            <!-- Add your logo image here -->
            <img src="{% static "image/Postgresql.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>PostgreSQL</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Competent in PostgreSQL, experienced in advanced database management and performance tuning.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:13">
            <!-- Add your logo image here -->
            <img src="{% static "image/mongoDB.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>MongoDB</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Competent in NoSQL database design, development, and data management.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:14">
            <!-- Add your logo image here -->
            <img src="{% static "image/dsa.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>DSA</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Proficient in DSA, skilled in designing efficient algorithms and problem-solving techniques.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:15">
            <!-- Add your logo image here -->
            <img src="{% static "image/Git.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>Git</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Proficient in version control, managing code, and collaborating with teams.
                </p>
            </div>
        </div>


        <div class="skill_card" style="--i:16">
            <!-- Add your logo image here -->
            <img src="{% static "image/github.png" %}" alt="Logo" class="skill_logo">

            <!-- Add your logo name here -->
            <h2>GitHub</h2>

            <!-- Add some text here -->
            <div class="text">
                <p>
                    Skilled in using GitHub for code hosting, collaboration, and open-source contributions.
                </p>
            </div>
        </div>

</div>



    
</div>

{% endblock content %}